/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define COLEMK_L 0
#define DVORAK_L 1
#define QWERTY_L 2
#define NAV_L    3
#define SYM_L    4
#define ADJ_L    5

#define Undo   LC(Z)
#define Cut    LC(X)
#define Copy   LC(C)
#define Paste  LC(V)
#define Redo   LC(Y)
#define RGB    RGB_TOG

#define ES_MORD GRAVE   // º
#define ES_QUOT MINUS   // '
#define ES_IEXL EQUAL   // ¡

#define ES_GRV  LBRC    // ` (dead)
#define ES_PLUS RBRC    // +

#define ES_NTIL SEMI    // Ñ
#define ES_ACUT SQT     // ´ (dead)
#define ES_CCED NUHS    // Ç

#define ES_LABK NUBS    // <
#define ES_COMM COMMA   // ,
#define ES_DOT  DOT     // .
#define ES_MINS SLASH   // -

#define ES_FORD LS(ES_MORD) // ª
#define ES_EXLM LS(N1)    // !
#define ES_DQUO LS(N2)    // "
#define ES_BULT LS(N3)    // ·
#define ES_DLR  LS(N4)    // $
#define ES_PERC LS(N5)    // %
#define ES_AMPR LS(N6)    // &
#define ES_SLSH LS(N7)    // /
#define ES_LPRN LS(N8)    // (
#define ES_RPRN LS(N9)    // )
#define ES_EQL  LS(N0)    // =
#define ES_QUES LS(ES_QUOT) // ?
#define ES_IQUE LS(ES_IEXL) // ¿
#define ES_CIRC LS(ES_GRV)  // ^ (dead)
#define ES_ASTR LS(ES_PLUS) // *
#define ES_DIAE LS(ES_ACUT) // ¨ (dead)
#define ES_RABK LS(ES_LABK) // >
#define ES_SCLN LS(KC_COMM) // ;
#define ES_COLN LS(KC_DOT)  // :
#define ES_UNDS LS(ES_MINS) // _
#define ES_BSLS LA(ES_MORD) // (backslash)
#define ES_PIPE LA(N1)    // |
#define ES_AT   LA(N2)    // @
#define ES_HASH LA(N3)    // #
#define ES_TILD LA(ES_NTIL) // ~
#define ES_EURO LA(N5)    // €
#define ES_NOT  LA(N6)    // ¬
#define ES_LBRC LA(ES_GRV)  // [
#define ES_RBRC LA(ES_PLUS) // ]
#define ES_LCBR LA(ES_ACUT) // {
#define ES_RCBR LA(ES_CCED) // }


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
/* COLEMAK
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | TAB   |   Q   |   W   |   F   |   P   |   G   |-----------------------------------|   J   |   L   |   U   |   Y   |   Ñ   | BKSPC |
 * | CAPSL |   A   |   R   |   S   |   T   |   D   |-----------------------------------|   H   |   N   |   E   |   I   |   O   | ´     |
 * | SHIFT |   Z   |   X   |   C   |   V   |   B   |  DEL  |-------------------| ENTER |   K   |   M   |   ,   |   .   |  Up   | SHIFT |
 * | ESC   | SHIFT | CTRL  |-------| ALT   |  GUI  | SPACE |  Nav  |---|  Sym  | SPACE |   <   |   -   |-------| Left  | Down  | Right |
 */
                        bindings = <
&kp  TAB      &kp  Q        &kp  W        &kp  F        &kp  P        &kp  G                                                                         &kp  J        &kp  L        &kp  U        &kp  Y        &kp  ES_NTIL  &kp  BSPC
&kp  CAPS     &kp  A        &kp  R        &kp  S        &kp  T        &kp  D                                                                         &kp  H        &kp  N        &kp  E        &kp  I        &kp  O        &kp  ES_ACUT
&kp  LSHFT    &kp  Z        &kp  X        &kp  C        &kp  V        &kp  B        &kp  DEL                                           &kp  ENTER    &kp  K        &kp  M        &kp  COMMA    &kp  DOT      &kp  UP       &kp  RSHFT
&kp  ESC      &kp  LSHIFT   &kp  LCTRL                  &kp  LALT     &kp  LGUI     &sk  SPACE      &mo  NAV_L           &mo  SYM_L    &kp  SPACE    &kp  ES_LABK  &kp  ES_MINS                &kp  LEFT     &kp  DOWN     &kp  RIGHT
                        >;

                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };

                dvorak_layer {
/* DVORAK
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | `     |   '   |   ,   |   .   |   P   |   Y   |-----------------------------------|   F   |   G   |   C   |   R   |   L   | BKSPC |
 * | TAB   |   A   |   O   |   E   |   U   |   I   |-----------------------------------|   D   |   H   |   T   |   N   |   S   | ENTER |
 * | SHIFT |   ;   |   Q   |   J   |   K   |   X   |   Z   |-------------------|   /   |   B   |   M   |   W   |   V   |  Up   | SHIFT |
 * | Mute  |  ESC  | CTRL  |-------|  GUI  |  ALT  |SK SHFT|  Nav  |---|  Sym  | SPACE |  ALT  |  GUI  |-------| Left  | Down  | Right |
 */
                        bindings = <
&kp  GRAVE    &kp  SQT      &kp  COMMA    &kp  DOT      &kp  P        &kp  Y                                                                         &kp  F        &kp  G        &kp  C        &kp  R        &kp  L        &kp  BSPC
&kp  TAB      &kp  A        &kp  O        &kp  E        &kp  U        &kp  I                                                                         &kp  D        &kp  H        &kp  T        &kp  N        &kp  S        &kp  ENTER
&kp  LSHFT    &kp  SEMI     &kp  Q        &kp  J        &kp  K        &kp  X        &kp  Z                                             &kp  SLASH    &kp  B        &kp  M        &kp  W        &kp  V        &kp  UP       &kp  RSHFT
&kp  C_MUTE   &kp  ESC      &kp  LCTRL                  &kp  LGUI     &kp  LALT     &sk  LSHIFT    &mo  NAV_L            &mo  SYM_L    &kp  SPACE    &kp  LALT     &kp  RGUI                   &kp  LEFT     &kp  DOWN     &kp  RIGHT
                        >;

                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };

                qwerty_layer {
/* QWERTY
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | `     |   Q   |   W   |   E   |   R   |   T   |-----------------------------------|   Y   |   U   |   I   |   O   |   P   | BKSPC |
 * | TAB   |   A   |   S   |   D   |   F   |   G   |-----------------------------------|   H   |   J   |   K   |   L   |   ;   | ENTER |
 * | SHIFT |   Z   |   X   |   C   |   V   |   B   |   '   |-------------------|   /   |   N   |   M   |   ,   |   .   |  Up   | SHIFT |
 * | Mute  |  ESC  | CTRL  |-------|  GUI  |  ALT  |SK SHFT|  Nav  |---|  Sym  | SPACE |  ALT  |  GUI  |-------| Left  | Down  | Right |
 */
                        bindings = <
&kp  GRAVE    &kp  Q        &kp  W        &kp  E        &kp  R        &kp  T                                                                         &kp  Y        &kp  U        &kp  I        &kp  O        &kp  P        &kp  BSPC
&kp  TAB      &kp  A        &kp  S        &kp  D        &kp  F        &kp  G                                                                         &kp  H        &kp  J        &kp  K        &kp  L        &kp  SEMI     &kp  ENTER
&kp  LSHFT    &kp  Z        &kp  X        &kp  C        &kp  V        &kp  B        &kp  SQT                                           &kp  SLASH    &kp  N        &kp  M        &kp  COMMA    &kp  DOT      &kp  UP       &kp  RSHFT
&kp  C_MUTE   &kp  ESC      &kp  LCTRL                  &kp  LGUI     &kp  LALT     &sk  LSHIFT    &mo  NAV_L            &mo  SYM_L    &kp  SPACE    &kp  LALT     &kp  RGUI                   &kp  LEFT     &kp  DOWN     &kp  RIGHT
                        >;

                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };

                nav_layer {
/* NAV
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | Copy  |   1   |   2   |   3   |   4   |   5   |-----------------------------------|   6   |   7   |   8   |   9   |   0   | BSPC  |
 * | Cut   |  GUI  |  Alt  | Ctrl  | Shift | Paste |-----------------------------------| PG UP |  Left |  Up   |  Down | Right | PG DN |
 * | Shift |  F1   |  F2   |  F3   |  F4   |  F5   |  UnDo |-------------------| ReDo  |  F6   |  F7   |  F8   |  F9   |  F10  | Shift |
 * | F11   |  F12  | CTRL  |-------| ALT   |  GUI  | SPACE |       |---| ADJ_L | SPACE |       |       |-------| CTRL  | HOME  |  END  |
 */
                        bindings = <
&kp  Copy     &kp  N1       &kp  N2       &kp  N3       &kp  N4       &kp  N5                                                                        &kp   N6      &kp  N7      &kp   N8      &kp   N9      &kp  N0       &trans
&kp  Cut      &kp  LGUI     &kp  LALT     &kp  LCTRL    &kp  LSHFT    &kp  Paste                                                                     &kp   PG_UP   &kp  LEFT    &kp   UP      &kp   DOWN    &kp  RIGHT    &kp PG_DN
&trans        &kp  F1       &kp  F2       &kp  F3       &kp  F4       &kp  F5       &kp Undo                                           &kp  Redo     &kp   F6      &kp  F7      &kp   F8      &kp   F9      &kp  F10      &trans
&kp  F11      &kp  F12      &trans                      &trans        &trans        &trans        &trans                 &mo ADJ_L     &trans        &trans        &trans                     &kp  RCTRL    &kp  HOME     &kp  END
                        >;

                        sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
                };

                sym_layer {
/* SYM
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | INS   |   !   |   "   |   ·   |   $   |   %   |-----------------------------------|   &   |   /   |   (   |   )   |   =   | DELETE|
 * | CAPS  |   |   |   @   |   #   |   [   |   ]   |-----------------------------------|   ¿   |   ?   |   ^   |  HOME |       |   `   |
 * | Shift |       |   ~   |   ç   |   {   |   }   |       |-------------------|       |   ¡   |   +   |   *   |  END  | PG UP | SHIFT |
 * |       |       | CTRL  |-------| ALT   |  GUI  | SPACE |  ADJ_L |---|      | SPACE |   >   |   _   |-------|       | PG DN |       |
 */
                        bindings = <
&kp  INS      &kp  ES_EXLM  &kp  ES_DQUO  &kp  ES_BULT  &kp  ES_DLR   &kp  ES_PERC                                                                   &kp ES_AMPR   &kp  ES_SLSH  &kp  ES_LPRN  &kp  ES_RPRN  &kp  ES_EQL   &kp  DEL
&caps_word    &kp  ES_PIPE  &kp  ES_AT    &kp  ES_HASH  &kp  ES_LBRC  &kp  ES_RBRC                                                                   &kp ES_IQUE   &kp  ES_QUES  &kp  ES_CIRC  &kp  HOME     &none         &kp ES_GRV
&trans        &none         &kp  ES_TILD  &kp  ES_CCED  &kp  ES_LCBR  &kp  ES_RCBR  &none                                              &none         &kp ES_IEXL   &kp  ES_PLUS  &kp  ES_ASTR  &kp  END      &kp  PG_UP    &trans
&none         &none         &trans                      &trans        &trans        &trans        &mo  ADJ_L               &trans      &kp  SPACE    &kp ES_RABK   &kp  ES_UNDS                &none         &kp  PG_DN    &none
                        >;

                        sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
                };


                adj_layer {
/* ADJUST
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |       | COLEMK| DVORAK| QWERTY|       |       |-----------------------------------|       |Prt Scr|       | EP_OFF| EP_ON |       |
 * | RGB   | BT 0  | BT 1  | BT 2  | BT 3  | BT 4  |-----------------------------------|       |       |       |       |       |       |
 * | BOOTL | RESET |       |OUT_USB|OUT_BLE|       |BT CLR |-------------------|       |       |       |       |       |       | SHIFT |
 * ----------------|       |-------|       |       |       |       |---|       |       |       |       |-------| CTRL  |----------------
 */
                        bindings = <
&none         &to  COLEMK_L &to  DVORAK_L &to  QWERTY_L &none         &none                                                                             &none             &kp PRINTSCREEN    &none         &ext_power EP_OFF  &ext_power EP_ON &none
&rgb_ug RGB   &bt  BT_SEL 0 &bt  BT_SEL 1 &bt  BT_SEL 2 &bt  BT_SEL 3 &bt  BT_SEL 4                                                                     &none             &none              &none            &none           &none            &none
&bootloader   &sys_reset    &none         &out OUT_USB  &out OUT_BLE  &none         &bt BT_CLR                                         &none            &none             &none              &none            &none           &none            &trans
&none         &none         &trans                      &trans        &trans        &trans        &trans                 &trans        &trans           &trans            &trans                              &kp  RCTRL      &none            &none
                        >;

                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };
        };
};
